[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "aa-bulletin-board"
version = "1.10.1"
description = "A simple bulletin board for Alliance Auth"
readme = "README.md"
license = "GPL-3.0"
requires-python = "~=3.8"
authors = [
    { name = "Peter Pfeufer", email = "develop@ppfeufer.de" },
]
keywords = [
    "allianceauth",
    "bulletinboard",
    "eveonline",
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 4.0",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
]
dependencies = [
    "allianceauth>=3.0.0",
    "django-ckeditor-youtube-plugin>=0.0.1",
    "django-ckeditor>=6.5.0",
    "unidecode",
]

[project.urls]
Homepage = "https://github.com/ppfeufer/aa-bulletin-board"
Documentation = "https://github.com/ppfeufer/aa-bulletin-board/blob/master/README.md"
Source = "https://github.com/ppfeufer/aa-bulletin-board.git"
Changelog = "https://github.com/ppfeufer/aa-bulletin-board/blob/master/CHANGELOG.md"
Tracker = "https://github.com/ppfeufer/aa-bulletin-board/issues"

[tool.hatch.build]
include = [
    "/aa_bulletin_board",
]
