{% extends 'aa_bulletin_board/base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{{ bulletin.title }} » {% translate "Bulletins" %}{% endblock %}

{% block aabulletinboard_header %}
    {% include 'aa_bulletin_board/partials/header/h1.html' with header_text=bulletin.title %}
{% endblock %}

{% block aabulletinboard_body %}
    {% if bulletin %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="btn btn-default btn-sm" href="{% url 'aa_bulletin_board:dashboard' %}">{% translate 'Back' %}</a>
                </div>
            </div>

            <div class="panel-body">
                {% autoescape off %}{{ bulletin.content|linebreaks }}{% endautoescape %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'aa_bulletin_board/css/aa-bootstrap-fix.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'aa_bulletin_board/css/aa-bulletin-board.min.css' %}" type="text/css">
{% endblock %}
