{% load i18n %}

{% if perms.aa_bulletin_board.manage_bulletins %}
    {% translate "Add bulletin" as button_text %}

    <li class="nav-item">
        <a class="nav-link py-lg-0" href="{% url 'aa_bulletin_board:create_bulletin' %}">
            <span class="btn btn-success btn-add-bulletin d-none d-lg-inline-block">
                {{ button_text|title }}
            </span>

            <span class="d-inline-block d-lg-none">
                <i class="fa-solid fa-plus me-2"></i>
                {{ button_text|title }}
            </span>
        </a>
    </li>
{% endif %}
