@media all {
    .aa-bulletin-board-header-addition {
        display: block;
    }

    .aa-bulletin-board .cards-equal-height {
        display: flex;
        flex-wrap: wrap;
    }

    .aa-bulletin-board .cards-equal-height .card {
        width: 100%;
    }

    .aa-bulletin-board .cards-equal-height .card-bulletin-excerpt {
        margin-bottom: 0.5rem;
        width: 100%;
    }

    .aa-bulletin-board .card-bulletin-excerpt .card-body {
        height: 200px;
        -webkit-mask-image: linear-gradient(rgb(0 0 0), transparent);
        mask-image: linear-gradient(rgb(0 0 0), transparent);
        overflow: hidden;
        padding: 1rem;
    }

    .aa-bulletin-board .card-bulletin-excerpt .card-footer-read-more-button {
        padding: 0.625rem 1rem;
    }

    .aa-bulletin-board .django-ckeditor-widget {
        display: initial !important;
    }

    .aa-bulletin-board-management {
        margin-bottom: 2rem;
    }

    .aa-bulletin-board img {
        height: auto !important; /* to override inline style added by CKeditor */
        max-width: 100%;
    }
}

/* SumoSelect
------------------------------------------------------------------------------------- */
@media all {
    .aa-bulletin-board .SumoSelect p {
        height: auto;
    }

    .aa-bulletin-board .SumoSelect {
        color: rgb(54 54 54);
        display: inherit;
    }

    .aa-bulletin-board .SumoSelect > .CaptionCont > label > i {
        background-image: none;
    }

    .aa-bulletin-board .SumoSelect > .CaptionCont > span.placeholder {
        background-color: transparent;
        color: rgb(62 68 76);
        opacity: 1;
    }
}

@media all and (min-width: 768px) {
    .aa-bulletin-board .cards-equal-height .card-bulletin-excerpt {
        width: calc(100% / 2);
    }
}

@media all and (min-width: 1200px) {
    .aa-bulletin-board .cards-equal-height .card-bulletin-excerpt {
        width: calc(100% / 3);
    }
}

/* Fix for oEmbed videos
------------------------------------------------------------------------------------- */
@media all {
    .aa-bulletin-board figure.media .oembed-video {
        height: auto;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
    }

    .aa-bulletin-board figure.media .oembed-video > iframe {
        height: 100%;
        max-height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
